{% extends 'web/base.html' %}
{% load static %}
{% load embed_video_tags %}

{% block title %}ALL BEATS{% endblock %}

{% block body %}
    {% if object_list %}

        <div class="infinite-container">
            <div class="infinite-item">

                {% for beats in all_beats %}
                    {{ beats.beat_title }} <br>
                    {% video beats.beat_link 'small' %}

                    <div class="total-likes">
                        {% with total_likes=beats.likes.count %}
                            Polubień ({{ total_likes }})<br>
                        {% endwith %}
                    </div>

                    <form action="{% url 'beats:like_beat' %}" method="POST" class="like-form">
                        {% csrf_token %}
                        <input type="hidden" name="beat_id" value="{{ beats.id }}" class="like_id">
                        <button type="submit" class="like-btn{{ beats.id }} like-btn">
                            {% if request.user not in beats.likes.all %}
                                Like
                            {% else %}
                                UnLike
                            {% endif %}
                        </button>
                    </form>
                    <br><br>

                {% endfor %}
            </div>
        </div>
        <div class="loading">
            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
        {% if page_obj.has_next %}
            <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">Next</a>
        {% endif %}
    {% endif %}
{% endblock %}


{% block scripts %}
    <script src="{% static "js/jquery.waypoints.min.js" %}"></script>
    <script src="{% static "js/infinite.min.js" %}"></script>
    <script>
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            offset: 'bottom-in-view',
            onBeforePageLoad() {
                $('.loading').show();
                $('.infinite-more-link').hide();
            },
            onAfterPageLoad: function () {
                $(`.loading`).hide();
            }
        });


    </script>
{% endblock %}