{% extends 'web/base.html' %}
{% load static %}

{% block body %}
    Wszyscy użytkownicy których obserwuje [NAZWA UŻYTKOWNIKA]<br><br>

    {% for followed in object_list %}
        <a href="{% url 'user_profile' followed.follow_to.slug %}">{{ followed.follow_to.username }} </a><br>

        {{ followed.follow_to.username }} id: {{ followed.follow_to.id }} <br>
        Liczba followersów {{ followed.follow_to.username }}:
        {% with total_followers=followed.follow_to.followers.count %}
            ({{ total_followers }} Followers)
        {% endwith %} <br>

        Mój ID: {{ request.user.id }} <br><br>

    {% endfor %}
{% endblock %}







