{% extends 'web/base.html' %}
{% load static %}

{% block title %}siema{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/posts/style.css' %}"> {% endblock %}

{% block body %}
    <div class="infinite-container">
        <div class="infinite-item">
            {% for post in all_posts %}
                {{ post.title }}<br>
            {% endfor %}
        </div>
    </div>
    <div class="loading">
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
        {% if page_obj.has_next %}
            <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">Next</a>
        {% endif %}
{% endblock %}

{% block scripts %}
    <script src="{% static "js/jquery.waypoints.min.js" %}"></script>
    <script src="{% static "js/infinite.min.js" %}"></script>
    <script>
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],

            offset: 'bottom-in-view',

            onBeforePageLoad() {
                $('.loading').show();
                $('.infinite-more-link').hide();

            },
            onAfterPageLoad: function () {
                $(`.loading`).hide();

            }

        });
    </script>
{% endblock %}